.footer h4 {
    color: var(--col-medgrey);
    font-size: var(--size-sm);
    font-weight: 400;
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: 0.2em;
    user-select: none;
}
.footer {
    text-align: center;
    padding: var(--spacing-md) 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


