.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
}

.header__menu {
    display: none;
}

.header__bars {
    color: #FFD700;
    margin-right: 0.5em;
    width: var(--size-2xl);
    display: block;
}

@media (min-width: 768px) {
    .header__menu {
        display: flex;
        align-items: center;
        gap: 2em;
    }

    .header__menu li {
        font-size: var(--size-sm);
        font-weight: 400;
        letter-spacing: -0.005em;
        transition: color 0.3s;
    }

    .header__dot {
        border: 2px solid;
        border-radius: 5px;
    }

    .header__menu li:hover {
        background: radial-gradient(circle, #FFD700 50%, #8a6a1b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .header__resume {
        font-size: var(--size-sm);
    }

    .header__bars {
        display: none;
    }
}

@media (min-width: 1024px) {
    .header__menu li {
        font-size: var(--size-md);
    }

    .header__resume {
        font-size: var(--size-md);
    }
}