:root {
    --col-darkgrey: #151514;
    --col-white: #d2d2d2;
    --col-medgrey: #555555;
    --col-gold: #917812;

    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

    --spacing-xs: 1rem;
    --spacing-sm: 1.5rem;
    --spacing-md: 2.5rem;
    --spacing-lg: 4rem;
    --spacing-xl: 6rem;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--col-darkgrey);
    color: var(--col-white);
}

a,
li,
p,
span {
    font-family: 'Cabinet Grotesk', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Satoshi', sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--col-white);
    text-decoration: none;
}

strong {
    background: radial-gradient(circle, #FFD700 50%, #8a6a1b 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

span {
    font-weight: 600;
    color: var(--col-gold);
}

ul {
    list-style: none;
    padding: 0;
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, #FFD700 50%, #8a6a1b 100%);
}

/* Prevent horizontal scroll */
html,
body {
    overflow-x: hidden;
    max-width: 100%;
}